@charset "UTF-8";

/*Declarations start*/
:root
{
    --corletra:#634414;
    --corletra2: black;
}
/*Declarations end*/



/*Import Font*/
@font-face 
{
    font-family: fonte;
    src: url(/font/Poppins/Poppins-Light.ttf);
}
/*Import Font end*/


/*Geral Style start*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    font-family: fonte;
    background: linear-gradient(to right, #eacda3, #d6ae7b);
    color: var(--corletra);
}

header
{
    position: sticky;
    top: 0;
    display: flex;
    font-size: 2.8vw;
    justify-content: space-around;
    background: linear-gradient(to bottom, #d8bc95, #c29f73);
    box-shadow: 2px 2px 5px #4646467e;
    height: 10vh;
    width: 100%;
}

main
{
    background: rgb(255, 255, 255);
    min-width: 70%;
    max-width: 85%;
    margin: auto;
    color: var(--corletra2);
    box-shadow: 2px 2px 2px rgba(221, 208, 208, 0.466);
}

footer
{
    padding: 40px 0px;
    margin-top: -9.7px;
    background: linear-gradient(to right, #d8bc95, #c29f73);
}

/*Geral Style end*/


/*Header style Start*/

header #logo
{
    padding: 20px;
    font-size: 1.4em;
    position: relative;
    cursor: pointer;
    color: var(--corletra);
}

header #logo .logo
{
    font-size: 1.2em;
}

header #menu
{
    padding: 10px;
    display: grid;
}

header #menu #lista
{
    display: flex;
    margin-top: 15px;
    list-style: none;
}

header #menu #lista li
{
    margin-left: 15px;
}

header #menu #lista li a
{
    text-decoration: none;
    padding: 5px;
    color: var(--corletra);
    font-size: 1em;
    transition: .2s;
}

header #menu #lista li a:hover
{
    background-color: var(--corletra);
    color: #d8bc95;
    font-size: 1.2em;
    padding: 4px;
}

/*Header style end*/



/*Geral Main start*/

main img
{
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 5px gray;
}

main section
{
    width: 60%;
    margin: auto;
}

main article
{
    margin: 10px;
}

main aside
{
    margin: 18px ;
}

main h3
{
    margin-top: 40px;
    font: bold 1.6em arial;
}

main h4
{
    font: 600 .9em fonte;
}

main a
{
    text-decoration: none;
    color: var(--corletra2);
    font-weight: 600;
}

main p
{
    text-align: justify;
    margin: 10px;
}

/*Geral Main end*/


/*Main classes style start*/

main a:hover
{
    text-decoration: underline;
    font-weight: 800;
}

main .dollar
{
    color: rgb(4, 73, 4);
    font-weight: bold;
}

main .titulo h1
{
    font: 600 2em arial;
    text-align: center;
    padding: 5px;
    color: var(--corletra2);
}


main aside h2
{
    text-align: center;
    padding: 10px;
    background: #744e16ce;
}

main aside .listabili
{
    list-style: none;
    text-align: center;
    background-color: #d8bc95;
}

.warren
{
    list-style:none;
    display: block;
    margin: 10px;
}
/*Main classes style end*/


/*Footer style*/
/*Social Midia Style*/
footer .social
{
    text-align: center;
    padding-bottom: 15px;
}

footer .social a
{
    font-size: 14px;
    color: var(--corletra);
    border: 1px solid var(--corletra);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover
{
    opacity: 1;
}
/*Social Midia Style*/

/*Link List style*/
footer ul
{
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

footer ul li
{
    display: inline-block;
    padding: 0 15px;
    font-variant: small-caps;
}

footer ul a
{
    color: var(--corletra);
    text-decoration: none;
    opacity: 0.8;
}

footer ul a:hover
{
    opacity: 1;
    text-decoration: underline;
}
/*Link List style*/

/*Paragraph style*/
footer .copyright
{
    text-align: center;
    padding: 20px;
}
/*Paragraph style*/
/*Footer style*/